
@mixin itens {
    
    background-color:#74CB48;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;

}


@mixin imagem {
    align-self: flex-end;
    height: 100px;
    max-width: 100%;
    width: 160px;
    
}



@mixin tipo {


    
    border-radius: 15px;
    color: black;
    font-size: 0.625rem;
    filter: brightness(1.1);
    margin: 0.25rem;
    padding: 0.25rem;
    text-align: center;
    width: 50px;

}






    .listaPoke {

        display: grid;                      // Tranforma em caixas pelo grid
        grid-template-columns: 1fr 1fr;    // quer dizer 1 fração de espaço 50% para cada
        list-style: none;                  // retira os numeros da lista
        margin:0 ;
        padding: 0;
    }
    .item1 {
         
        @include itens;

    }
    .item2 {
        @include itens;

    }
    .item3 {
        @include itens;

    }
    .item4 {
        @include itens;

    }
    .item5 {
        @include itens;

    }
    .item6 {
        @include itens;
    }
    .imagem {
         @include imagem;
         
  
    }
    .numero {
        color: black;
        opacity: 50%;
        text-align: right;
    }

    .nome {

        
        color: black;
        font-size: 0.9rem;
        margin-bottom: .25rem;
        text-transform: capitalize;
    }

    .detalhes {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
        
        
    }
    .tipos {
        

        list-style: none;
        margin: 0;
        padding: 0;
        
    }
    .tipo {
      @include tipo;


    }
    .paginacao{

        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem;
        width: 100%;
        
    }
    .botaoCarrega {
        
        background-color:#6f38f6 ;
        border: none;
        border-radius: 15px;
        color: whitesmoke;
        font-size: 0.825rem;
        margin: 0.25rem;
        padding: 0.25rem;

    }

// media queries



@media  screen and (min-width: 378px){
    
    .listaPoke {
        
        grid-template-columns: 1fr 1fr  ;
    }

}



@media  screen and (min-width: 576px){
    
    .listaPoke {
        
        grid-template-columns: 1fr 1fr 1fr  ;
    }

}



@media  screen and (min-width: 992px){
    
    .listaPoke {
        
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }

}