@import './components/Titulo/titulo.css';
@import './components/corpo/corpo.css';


@mixin fonte {
    box-sizing: border-box;
    font-family:  'ADLaM Display', cursive; 
}



body {
    @include fonte;
    padding: 1rem;
}
